**/node_modules/
**/dist/
**/coverage/
**/.env
**/.env.*
!**/.env.example
**/test-results/
**/playwright-report/
**/*.log
.local/
.DS_Store
**/node_modules/
**/dist/
**/coverage/
**/.env
**/.env.*
!**/.env.example
**/test-results/
**/playwright-report/
**/*.log
.local/
.DS_Store
